@model List<UStoreMVC.Data.Linq.LinqProduct>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            Name
            @*@Html.DisplayNameFor(model => model.Name)*@
        </th>
        <th>
            Description
            @*@Html.DisplayNameFor(model => model.Description)*@
        </th>
        <th>
            Price
            @*@Html.DisplayNameFor(model => model.Price)*@
        </th>
        <th>
            UnitsInStock
            @*@Html.DisplayNameFor(model => model.UnitsInStock)*@
        </th>
        <th>
            ProductImage
            @*@Html.DisplayNameFor(model => model.ProductImage)*@
        </th>
        <th>
            Notes
            @*@Html.DisplayNameFor(model => model.Notes)*@
        </th>
        <th>
            ReferenceURL
            @*@Html.DisplayNameFor(model => model.ReferenceURL)*@
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Price)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UnitsInStock)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ProductImage)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Notes)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ReferenceURL)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ProductID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ProductID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ProductID })
        </td>
    </tr>
}

</table>
