@model UStoreMVC.Data.EF.Status

@{
    ViewBag.Title = "Status Details";
}

<h2>@ViewBag.Title</h2>

<div>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.StatusName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StatusName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StatusOrder)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StatusOrder)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Notes)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Notes)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.StatusID }) |
    @Html.ActionLink("Back to Status", "Index")
</p>
